<ion-header>
  <ion-title>Playstation</ion-title>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="" />
      </ion-avatar>
      <h2>{{ playStore }}</h2>
      <Button (click)="contaSony()">aperte</Button>
      <p>Senha</p>
    </ion-item>
  </ion-card>

  <img src="">

  <ion-card-content>
    <p>
      Sony convida para "dar uma olhada no futuro dos jogos com o PlayStation 5"
      em transmissão ao vivo no canal da fabricante.
    </p>
    <button type="button" [routerLink]="['xbox']">X-Box</button>
  </ion-card-content>
</ion-content>
