<ion-header>
  
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../../assets/img/playstation ps5.jpg" />
      </ion-avatar>
      <h2 class="psnStore">{{ playStore }}</h2>
    </ion-item>
  </ion-card>

  <img src="../../../assets/img/console.jpg" />

  <ion-card-content>
    <p>
      Sony convida para "dar uma olhada no futuro dos jogos com o PlayStation 5"
      em transmissão ao vivo no canal da fabricante.
    </p>
  </ion-card-content>

  <div>
    <button type="button" [routerLink]="['xbox']">
       <p class="xbox">Principal concorrente na linha de console X-Box Series X</p>
    </button>
  </div>
</ion-content>