<ion-header>
  <ion-title> X-Box </ion-title>
</ion-header>

<ion-content >
  <ion-slides pager class="altura">
    <ion-slide>
      <img class="img" src="../../../assets/img/xbox.jpg">
      <h2>X-Box 360</h2>
    </ion-slide>

    <ion-slide>
      <h2>X-Box One</h2>
      <img class="img" src="../../../assets/img/xone.jpg">
    </ion-slide>

    <ion-slide>
      <h2>X-Box Series X </h2>
      <img class="img" src="../../../assets/img/xbox-series-x.png">
    </ion-slide>

  </ion-slides>
</ion-content>