<ion-header>

</ion-header>

<ion-content padding>

  <ion-card >
    <ion-item> 
      <ion-avatar item-start >
        <img src="../../../assets/img/xBox/logo xbox.png" />
      </ion-avatar>
      <h2 class="live">{{ xBoxLive }}</h2>
    </ion-item>
  </ion-card>

  <ion-slides pager>

    <ion-slide class="altura">
      <h2>X-Box</h2>
      <img class="img" src="../../../assets/img/xBox/xbox.png">
    </ion-slide>

    <ion-slide class="altura">
      <h2>XBox 360</h2>
      <img class="img" src="../../../assets/img/xBox/xbox360.png">
    </ion-slide>

    <ion-slide class="altura">
      <h2>XBox One</h2>
      <img class="img" src="../../../assets/img/xBox/xboxOne.png">
    </ion-slide>

    <ion-slide class="altura">
      <h2>XBox Series X </h2>
      <img class="img" src="../../../assets/img/xBox/Xbox series x.png">
    </ion-slide>

  </ion-slides>
  <h1><a href="https://www.xbox.com/pt-BR/?xr=mebarnav " target="_blank">XBox</a></h1>
  <p> O mais rápido e poderoso de todos os tempos.
    Desempenho de última geração no menor Xbox de todos os tempos.
  </p>

</ion-content>