<ion-header>
  <ion-title> X-Box </ion-title>
</ion-header>

<ion-content padding>
  <ion-slides pager >
   
    <ion-slide class="altura" >
      <h2>X-Box 360</h2>
      <img class="img" src="../../../assets/img/xbox.jpg">
    </ion-slide>
    
    <ion-slide class="altura">
      <h2>X-Box One</h2>
      <img class="img" src="../../../assets/img/xone.jpg">
    </ion-slide>

    <ion-slide class="altura">
      <h2>X-Box Series X </h2>
      <img class="img" src="../../../assets/img/xbox-series-x.png">
    </ion-slide>

  </ion-slides>
  <h1>XBox</h1>
  <p> O mais rápido e poderoso de todos os tempos.
    Desempenho de última geração no menor Xbox de todos os tempos.
  </p>

  <button class="box" >
  <a href="https://www.xbox.com/pt-BR/?xr=mebarnav " target="_blank">Microsoft XBox</a>
</button>
  
</ion-content>